<h2>Přihlaš se Pájo</h2>

<%= form_tag(sessions_url, method: :post) do %>
  <div class="control-group">
    <%= label_tag :email %>
    <div class="controls">
      <%= text_field_tag :email %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  <%= submit_tag "Přihlaš mě" %>
<% end %>