<h2>Zaregistruj se Pájo</h2>

<%= form_for(@user, url: users_url, method: :post) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br />
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br />
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br />
  <%= f.submit "Registruj pyčo" %>
<% end %>
