<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>
  <div class="button_box top">
    <%= f.submit t('forms.save'), :class => 'btn btn-primary' %>
    <%= link_to t('forms.cancel'),
              events_path, :class => 'btn btn-default' %>
  </div>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('forms.errors.common') %>:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col w350">
    <div class="control-group">
      <%= f.label :event_type, t('events.form.event_type') %>
      <%= f.select :event_type, options_for_select(@event_type_select_options, @event.event_type) %>
    </div>

    <div class="control-group">
      <%= f.label :title, t('events.form.title'), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="control-group vernisage mt25">
      <%= f.label :date_vernisage, 
        t('events.form.date_vernisage'), 
        class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :date_vernisage, 
          class: 'form-control datetimepicker', 
          value: @event.date_vernisage.present? ? @event.date_vernisage.strftime('%-d. %-m. %Y %H:%M') : '' %>
        <p><%= t('events.form.date_description', date: Time.now.strftime('%-d. %-m. %Y %H:%M')) %></p>
      </div>
    </div>
  </div>

  <div class="col w350 mt40" id="date_start_end">
    <div class="control-group">
      <%= f.label :date_start, t('events.form.date_start'), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :date_start, 
          class: 'form-control datepicker', 
          value: @event.date_start.present? ? @event.date_start.strftime('%-d. %-m. %Y') : '' %>
        <p><%= t('events.form.date_description', date: Time.now.strftime('%-d. %-m. %Y')) %></p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date_end, t('events.form.date_end'), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :date_end, 
          class: 'form-control datepicker', 
          value: @event.date_end.present? ? @event.date_start.strftime('%-d. %-m. %Y') : '' %>
        <p><%= t('events.form.date_description', date: Time.now.strftime('%-d. %-m. %Y')) %></p>
      </div>
    </div>
  </div>

  <div class="cleaner"></div>

  <div class="control-group">
    <%= f.label :body, t('events.form.body'), :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :body, class: 'form-control', rows: 10, cols: 100 %>
    </div>
  </div>
  
  <div class="button_box bottom">
    <%= f.submit t('forms.save'), :class => 'btn btn-primary' %>
    <%= link_to t('forms.cancel'),
              events_path, :class => 'btn btn-default' %>
  </div>
<% end %>
