<%- model_class = Event -%>
  <div class="action_box">
    <% if current_user.present? %>
      <%= link_to t('.new', :default => t("events.new")),
                  new_event_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>

<div id="events_list">
  <% @events.each do |event| %>
    <div class="event" id="event<%= event.id %>">
      <h2><%= link_to event.title, event_url(event) %></h2>
      <div class="action_box">
        <% if current_user.present? %>
        <%= link_to t('forms.edit'),
                      edit_event_path(event), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('forms.destroy'),
                      event_path(event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        <% end %>
      </div>
      <p class="basic_info">
        <span><%= t("events.#{event.event_type}") %>, <%= event.dates_line %></span></p>
        <div class="desc"><%= raw(event.body) %></div>
    </div>
  <% end %>
</div>
