<%- model_class = Event -%>
<h2><%= @event.title %></h2>
<% if current_user.present? %>
<div class="action_box">
<%= link_to t('events.list'),
              events_path, :class => 'btn btn-default'  %>
<%= link_to t('forms.edit'),
              edit_event_path(@event), :class => 'btn btn-default' %>
<%= link_to t('forms.destroy'),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('helpers.links.confirm') },
              :class => 'btn btn-danger' %>
</div>
<% end %>

<p class="basic_info">
  <%= t("events.#{@event.event_type}") %>,
  <%= @event.date_start.strftime('%d.%m.') %>
 - <%= @event.date_end.strftime('%d.%m.%Y') %>, vernisáž <%= @event.date_vernisage.strftime('%d.%m.%Y v %H:%M') %></p>

<%= raw(@event.body) %>
