<%= form_for @page, :html => { :class => "form-horizontal page" } do |f| %>
  <div class="button_box top">
    <%= f.submit t('forms.save'), :class => 'btn btn-primary' %>
    <%= link_to t('forms.cancel'),
              pages_path, :class => 'btn btn-default' %>
  </div>

    <% if @page.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('forms.errors.common') %>:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col w350">
    <div class="control-group">
      <%= f.label t('pages.form.title'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t('pages.form.page_url'), :class => 'control-label' %>
      <div class="controls">
        <span>www.puda7.cz/</span><%= f.text_field :page_url, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.check_box :active, :class => 'form-control' %>
      <%= f.label t('pages.form.active'), :class => 'control-label' %>
    </div>
  </div>

  <div class="col w300 mt25">
    <div class="control-group checkbox">
      <%= f.check_box :show_in_menu, :class => 'form-control' %>
      <%= f.label t('pages.form.show_in_menu'), :class => 'control-label' %>
    </div>
      <div class="cleaner"></div>
    <div class="control-group">
      <%= f.label t('pages.form.position_in_menu'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :position_in_menu, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="cleaner"></div>
  
  <div class="control-group">
    <%= f.label t('pages.form.body'), :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :body, :class => 'form-control', escape: false %>
    </div>
  </div>
  <br />
  
  <div class="button_box bottom">
    <%= f.submit t('forms.save'), :class => 'btn btn-primary' %>
    <%= link_to t('forms.cancel'),
              pages_path, :class => 'btn btn-default' %>
  </div>
<% end %>
