<%- model_class = Page -%>
<h2><%=t('pages.pages')%></h2>

<div class="action_box mt10">
  <%= link_to t('pages.new'),
              new_page_path,
              :class => 'btn btn-primary' %>
</div>
<br>

<table class="table table-striped index">
  <thead>
    <tr>
      <th><%= t('pages.form.title') %></th>
      <th><%= t('pages.form.page_url') %></th>
      <th><%= t('pages.form.body') %></th>
      <th><%= t('pages.form.show_in_menu') %></th>
      <th><%= t('pages.form.position_in_menu') %></th>
      <th><%= t('pages.form.created_at') %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody >
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.title, page_path(page) %></td>
        <td>/<%= page.page_url %></td>
        <td><%= strip_tags(page.body).html_safe %></td>
        <td class="center"><% if  page.show_in_menu %><%= t('helpers.yes') %><% else %><%= t('helpers.no') %><% end %></td>
        <td class="center"><%= page.position_in_menu %></td>
        <td><%=l page.created_at %></td>
        <td>
          <%= link_to t('forms.edit'),
                      edit_page_path(page), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('forms.destroy'),
                      page_path(page),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>