<h2><%= @page.title %></h2>
<div class="action_box">
  <% if current_user.present? %>
    <%#= link_to t('pages.back'),
                  pages_path, :class => 'btn btn-default'  %>
    <%= link_to t('forms.edit'),
                  edit_page_path(@page), :class => 'btn btn-default' %>
    <%= link_to t('forms.destroy'),
                  page_path(@page),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
  <% end %>
</div>

<% if @page.inactive? %>
<p>POZOR, stránka není aktivní, takže ji žádná nePája neuvidí</p>
<% end %>

<div id="page_content">
  <%= raw(@page.body) %>
</div>
