<%= form_for(@picture, multipart: true) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_page?(action: :new) %>
    <div class="field">
      <%= f.label :picture, t('pictures.picture') %><br>
      <%= f.file_field :picture %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :description, t('pictures.description') %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit t('forms.save') %>
  </div>
<% end %>
