<h2><%= t('pictures.edit').capitalize %></h2>

<div class="col w350">
<%= render 'form' %>

<%= link_to t('pictures.show'), @picture %> |
<%= link_to t('forms.cancel'), pictures_path %>
</div>
<div class="col w550">
  <%= image_tag @picture.picture.url(:medium) %>
</div>
<div class="cleaner"></div>