<h2><%= t('pictures.pictures_list') %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('pictures.picture') %></th>
      <th><%= t('pictures.dimensions') %></th>
      <th><%= t('pictures.description') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= image_tag picture.picture.url(:thumb), width: 150, alt: picture.picture, title: picture.picture %></td>
        <td><%= picture.dimensions %></td>
        <td><%= picture.description %></td>
        <td><%= link_to t('pictures.show'), picture %></td>
        <td><%= link_to t('forms.edit'), edit_picture_path(picture) %></td>
        <td><%= link_to t('forms.destroy'), picture, method: :delete, data: { confirm: t('helpers.links.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('pictures.new'), new_picture_path %>
