<div class="col w550">
  <%= image_tag @picture.picture.url(:medium), alt: @picture.description %>
</div>
<div class="col w350">
<p>
  <strong><%= t('pictures.picture') %>:</strong>
  <%= @picture.picture %>
</p>

<p>
  <strong><%= t('pictures.dimensions') %>:</strong>
  <%= @picture.dimensions %>
</p>

<p>
  <strong><%= t('pictures.description') %>:</strong>
  <%= @picture.description %>
</p>
</div>
<div class="cleaner"></div>

<%= link_to t('forms.edit'), edit_picture_path(@picture) %> |
<%= link_to t('helpers.links.back'), pictures_path %>
