<tr class='destroy<%= newsletter_email.id %>'>
  <td><%= newsletter_email.email %></td>
  <td><%= newsletter_email.created_at.strftime("%d.%m.%Y %H:%M") %></td>
  <td align="center"><%= link_to "x", newsletter_email_path(newsletter_email), method: :delete, remote: true, class: "no_underline" %></td>
</tr>