<% if @first_email %>
  $('div#content table tbody').html('');
<% else %>
  $('p#emails_list').append(', ');
<% end %>
$('p#emails_list').append('<%= @newsletter_email.email %>');
$('div#content table tbody').append('<%=j render @newsletter_email %>');
$('form input#email').val('');
