<h2>e-maily pro newsletter</h2>
<p id="emails_list">adresáti e-mailu:<br />
<%= @newsletter_emails.join(",") %></p>
<br />

<table width="100%">
  <thead>
  <tr>
    <th>e-mail</th>
    <th>přihlášený od</th>
    <th>smazat</th>
  </tr>
  </thead>
  <tbody>
    <%= render @newsletter_emails %>
    <% if  @newsletter_emails.empty? %>
      <%= render partial: 'no_emails' %>
    <% end %>
  </tbody>
</table>
<br />

<h3>přidat e-mail</h3>
<%= form_tag(newsletter_emails_url, method: :post, remote: true) do |f| %>
  <%= text_field_tag :email %>
  <%= submit_tag "přidat e-mail" %>
<% end %>