* { margin: 0; padding: 0; }
h2, h3 { margin: 10px 0 5px 0; }
img { border: 1px solid #000; }
table { WIDTH: 100%; border-collapse: collapse; }
th, td { padding: 7px 5px 9px 5px; }
th { text-align: center; }
tr { border-bottom: 1px solid #DDD; }
input, select { padding: 2px 2px; }
input[type=submit] { padding: 2px 10px; }
body { width: 100%; text-align: center; }
div#body { width: 990px; text-align: left; margin: 0 auto; position: relative; }
div#content { min-height: 400px; height: auto; _height: 400px; }
div.col { float: left; overflow: hidden; margin-right: 10px; }
div.col:last { margin-right: 0; }
.w550 { width: 550px; }
.w350 { width: 350px; }
.w350 { width: 300px; }
.mt40 { margin-top: 40px; }
.mt25 { margin-top: 25px; }
.mt10 { margin-top: 10px; }
.mt-14 { margin-top: -14px; }
.center { text-align: center; }
.cleaner { clear: both; height: 1px; margin-top: -1px; border: none; visibility: hidden; }
a.no_underline { text-decoration: none; }

div.notice { width: 670px; padding: 5px 10px; border: 1px solid #000; margin-bottom: 20px; }

div#content { width: 690px; }
div#content.no_width { width: auto; }
div#sidebar { width: 300px; }

.action_box { background: #000; margin-bottom: 5px; padding-left: 20px; background: #FFF url(<%= asset_path "icon_edit.png" %>) 0 2px no-repeat; }
.action_box a:hover { color: #000; background: #FFF; text-decoration: none; }
.button_box { margin: 10px 0; }
.button_box.top { margin-bottom: 20px; }
.button_box a { margin: 0 10px; }
div.controls p, div.controls span { font-size: .8em; color: #555; }

.basic_info { margin-bottom: 5px; padding-left: 20px; background: #FFF url(<%= asset_path "icon_basic_info.png" %>) 0 2px no-repeat; }

div#body h1 { display: block; width: 371px; height: 120px; overflow: hidden; margin: 100px 0 50px 2px; padding: 0; position: relative; }
div#body h1 span { display: block; width: 371px; height: 120px; position: absolute; left: 0; top: 0; z-index: 1;margin: 0; padding: 0; background: url(<%= asset_path "logo_puda7.png" %>) no-repeat; }

ul#main_menu li, ul#user_menu li { display: inline; list-style: none; }
ul#main_menu { height: 38px; border-bottom: 1px solid #000; margin: 5px 0 20px 0; }
ul#main_menu a { display: block; float: left; margin-right: 5px; padding: 5px; color: #FEFEFE; background: #000; font-size: 1.5em; font-weight: bold; text-decoration: none; }
ul#main_menu a:hover { background: #444; }

ul#user_menu { position: absolute; top: 0; right: 10px; padding-left: 20px; background: url(<%= asset_path "icon_edit.png" %>) 0 2px no-repeat; }

p#footer { margin: 20px 0; padding-top: 8px; }

div#content, div.event, div.page { position: relative; }

div.event { margin-bottom: 20px; }
div.event h2 a { color: black; }
div.event h2 a:hover { color: white; }

div#newsletter p { margin-bottom: 10px; }

.control-group { margin: 10px 0; }
.control-group.checkbox { margin: 8px 0 32px 0; }
.control-group.checkbox * { float: left; display: block; }
.control-group.checkbox input { margin: 2px 5px 0 0; }

div#error_expl { margin-bottom: 20px; border: 1px solid #000; padding: 5px 7px; }
div#error_expl ul li { padding-left: 35px; }