<div id="newsletter">
  <h2>newsletter</h2>
  <% flash.each do |name, msg| -%>
    <% if name == 'newsletter' || name == 'newsletter_error' %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  <% end -%>

  <p>chcete pozvánku na další akci mailem?</p>
  <%= form_tag(newsletter_emails_path, method: :post) do %>
    <%= email_field_tag(:email, nil, placeholder: t('newsletter.email')) %>
    <br>
    <%= submit_tag(t('newsletter.submit')) %>
  <% end %>
</div>