<% if @user_menu.present? %>
  <ul id="user_menu">
    <% @user_menu.each do |menu_item| %>
      <li>
      <% if menu_item[:options].present? %>
        <%= link_to menu_item[:anchor_text], menu_item[:url], menu_item[:options] %>
      <% else %>
        <%= link_to menu_item[:anchor_text], menu_item[:url] %>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>