<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %>_controller">
    <div id="body">
      <h1><a href="/">Půda7<span></span></a></h1>
      <%#= render partial: 'main_menu' %>
      <%= render partial: 'user_menu' %>
      
      <% flash.each do |name, msg| -%>
        <%# if name != 'newsletter' || name != 'newsletter_error' %>
          <%= content_tag :div, msg, class: name %>
        <%# end %>
      <% end -%>
      
      <div id="content" class="col <%= 'no_width' if current_user.present? %>">
        <%= yield %>
      </div>
      
      <%# show 2 cols only when visitor, no user loggen in %>
      <% if current_user.blank? %>
        <div class="sidebar col">
          <%= render partial: 'newsletter' %>
        </div>
      <% end %>
      
      <div class="cleaner"></div>
      
      <p id="footer">2014 &copy; půda 7 bytová galerie v Brně</p>
    </div>
  </body>
</html>
